<div class="block d-inline-block p-1 px-3 mb-2 text-custom-primary">
  <%= link_to root_path, class: 'text-muted text-small' do  %>
    <i class="bi bi-arrow-left me-2"></i>
    Go Back
  <% end %>
</div>