<span class="rounded-circle p-2 d-inline-flex justify-content-center align-items-center " style="background-color: #5b55ae; height: 25px; width: 25px;">
  <span class="text-light text-small">
    <%= user_initials(user) %>
  </span>
</span>