<div>
  <p><%= feedback.user.first_name %></p>
  <p>Posted: <%= time_ago_in_words(feedback.created_at) %>
  </p>

  <% if current_user == feedback.user %>
    <%= button_to "Delete", [post, feedback], method: :delete, data: { turbo_confirm: "Are you sure you want to delete this feedback?" } %>
  <% end %>
  <%= feedback.content %>
  <hr>
</div>