<div class="container pt-4 justify-content-center">
  <div class="posts-container" id="posts">
    <% @posts.each do |post| %>
      <%= render post %>
      <% unless post == @posts.last %>
        <hr>
      <% end %>
    <% end %>
  </div>
</div>
