<%= render "shared/go_back" %>
<%= render @post %>
<div>
  <% unless @post.user == current_user %>
    <%= render 'feedbacks/form', post: @post %>
  <% end %>
</div>
<hr>
<div class="p-2 px-md-4">
  <% if @feedbacks.count > 0 %>
    <% @feedbacks.each do | feedback |%>
      <p>
        <%= render feedback, post: @post %>
      </p>
    <% end %>
  <% else %>
    <div class="d-flex justify-content-center align-items-center text-muted fw-bold" style="min-height: 30vh">
      No feedbacks yet
    </div>
  <% end %>
</div>
