<%= render @post %>
<div>
  <%= render 'feedbacks/form', post: @post %>
</div>

<div>
  <% @feedbacks.each do | feedback |%>
    <p>
      <%= render feedback, post: @post %>
    </p>
  <% end %>
</div>
